body {
    font-family: Arial, sans-serif;
    margin: 0 1%;
    padding: 0;
  }
  
  header { 
    max-width: 1200px;
    margin: auto;
    /*border: solid 2px #D834FE;*/
  }
  nav li {
    display: inline-block;
    margin-right: 15px;
  }
  nav a {
    text-decoration: none;
    color: black;
  }
  nav a:visited {
    color: black;
  }

  #banner img {
    height: 200px;
    border-radius: 100px;
    border: solid 1px black;
  }
  #banner {
    display: flex;
    flex-wrap: wrap;
    background-image: radial-gradient(#D834FE 1px, transparent 0);
    background-size: 30px 30px;
    border: solid 2px #D834FE;
    border-radius: 10px;
    justify-content: space-around;
    max-width: 1200px; 
    margin: auto;
    padding: 1%;
  }
  #name-and-title {
    padding: 20px;
    /*border: solid 2px black;*/
  }
  h1 {
    font-size: 44px;
  }
  #featured-projects {
    /*border: solid 1px grey;*/
    max-width: 1200px; 
    margin: auto;
  }
  #projects {
    /*border: solid 1px grey;*/
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 1200px; 
    margin: auto;
  }
  h2 {
    max-width: 1200px; 
    /*border: solid 1px grey;*/
    margin: 50px auto 0;
    padding-left: 2em;
  }
  .project {
    border: solid 1px #D834FE;
    border-radius: 10px;
    width: 300px; 
    margin: 10px;
    padding: 10px;
  }
  #featured-projects > a {
    font-style: italic;
    /*border: solid 1px grey;*/
    padding-left: 40px; 
    font-size: 16px;
    color: grey;
    padding-bottom: 5%; /*so that is't not too close to bottom of page*/
    
  }
  #featured-projects > a:visited {
    color: grey;
  }

  #projects a {
    text-decoration: none;
    color: black;
  }
  /*iphone SE viewport width - 375px, iphone 14 pro max - 430px* ipad pro 12.9inch 5th gen - 1024px(vertical)*/
  @media only screen and (max-width: 500px) {
    header {
      background-color: white;
      position: fixed;
      top: 0;
      width: 100%;
    }
    main {
      margin-top: 60px;
    }
    #banner {
      padding-bottom: 5%;
    }
  }
