#banner img {
    height: 140px;
    border-radius: 70px;
    border: solid 1px black;
    margin: 5px;
  }

  #name-and-title {
    padding: 0 20px;
    /*border: solid 2px black;*/
  }
  #projects {
    display: flex;
    max-width: 1200px; 
    margin: auto;
  }
  .project img {
    height: 200px;
    border: solid 1px black;
    border-radius: 10px;
  }
  /*iphone SE viewport width - 375px, iphone 14 pro max - 430px*/
  @media only screen and (max-width: 500px) {
    #banner img {
      display: none;
    }
  }